$primary-color: #343434;
$content-width: 1000px;
$content-padding: 1rem;
$breakpoint: 600px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;

$green: #429a42;
$yellow: #f7f749;
$red: #ea3535;
$light-gray: #EEEEEE;
$medium-gray: #DDDDDD;
$dark-gray: #CCCCCC;