@import 'variables.scss';

html {
	font-size: 24px;
}

header {
	background-color: $nav-background; 
}

.container {
	margin: 0 auto;
}

.nav-container {
	height: $nav-height;
	max-width: $content-width;
	padding: $content-padding;
}

.navigation {
}

.brand {
	float: left;
	font-size: 32px;
	line-height: $nav-height;

	a {
		color: $nav-font-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-dropdown {
	box-shadow: 0 3px 12px rgba(0,0,0,0.15);
	display: none;
	position: absolute;
	z-index: 1;
}

nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			position: relative;

			a {
				display: block;
				padding: 0 20px;
				line-height: $nav-height;
				background: $nav-background;
				color: $nav-font-color;
				text-decoration: none;

				&:hover {
					background: $link-hover-color;
					color: $nav-font-color;
				}

				&:not(:only-child):after {
					content: ' ▾';
					padding-left: 4px;
				}

			} //Dropdown list
				
			ul li {
				min-width: 190px;
				a {
					padding: 15px;
					line-height: 20px;
				}
			}
		}
	}
}

/* Mobile Menu */

.nav-mobile {
	display:none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
	padding-right: 1rem;

}

@media only screen and (max-width: $breakpoint) {
	.nav-mobile {
		display: block;
	}

	.nav-dropdown {
		position: static;
	}
	
	nav {
		width: 100%;
		/* padding: $nav-height 0 15px; */

		ul {
			display:none;
			li {
				float:none;
			    a {
			    	padding: 15px;
			    	line-height: 20px;
			    }
			    ul li a {
			    	padding-left: 30px;
			    }
			}
		}
	}

}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
	span,
	span:before,
	span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: $nav-font-color;
		position: absolute;
		display: block;
		content: '';
		transition: all 300ms ease-in-out;
	}
	span:before {
		top: -10px;
	}
	span:after {
		bottom: -10px;
	}
	&.active span {
		background-color: transparent;
		&:before, &.after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);	
			bottom: -1px;
		}
	}
}


main {

	max-width: $content-width;
	padding: $content-padding;


	a {
		color: $link-hover-color;

		&:hover {
			text-decoration:none;
		}
	}

	p {
		color: $primary-color;
	}

}

.alignleft {
	float: left;
	padding: 0 1rem 1rem 0;
}
.overlay {
	display: none;
	position: fixed;
}